{% extends 'base.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block body %}
<body style="background-color:grey;">
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <center><h1>Connexion✏️</h1></center>
</div>
<form method="post" action="/serv/login">
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="inputEmail4">Login</label>
      <input type="text" class="form-control" name="login" id="login" placeholder="test123">
    </div>
    <div class="form-group col-md-6">
      <label for="inputPassword4">Password</label>
      <input type="password" class="form-control" name="password" id="password" placeholder="Password">
    </div>
  </div>
  <div style="text-align: center">
  <button type="submit" class="btn btn-primary">Se connecter</button>
  </div>
</form>
{% endblock %}
